<div class="wrapper">
    <form class="form-signin" ng-submit="doLogin()" name="login" novalidate>
        <h2 class="form-signin-heading">Welcome to </h2>
       
        <p class="alert alert-danger fade in" ng-show="login.username.$error.required && !login.username.$pristine || login.$submitted && login.username.$error.required">Username required</p>

        <p class="alert alert-danger fade in" ng-show="login.password.$error.required && !login.password.$pristine ||  login.$submitted && login.password.$error.required">password required</p>

        <p class="alert alert-danger fade in" ng-show="error">{{error}}</p>

        

        <input ng-model="username" type="text" class="form-control" name="username" placeholder="User Name" required="" autofocus="" />
        <input ng-model="password" type="password" class="form-control" name="password" placeholder="Password" required="" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>
 
